@mixin flex {
  display: flex;
}

@mixin column {
  flex-direction: column;
}

@mixin justify-center {
  justify-content: center;
}

@mixin align-center  {
  align-items: center;
}

@mixin between  {
  justify-content: space-between;
}

@mixin center  {
  align-items: center;
  justify-content: center;
}

@mixin grid  {
  display: grid;
}

@mixin hidden  {
  display: none;
}

@mixin clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

